/****** Main Stylesheet - Imports ***********/

/* Base */
@import url('base/base.css');

/* Layout */
@import url('layout/header.css');
@import url('layout/footer.css');

/* Components */
@import url('components/search.css');
@import url('components/cards.css');
@import url('components/hebergements.css');
@import url('components/populaires.css');
@import url('components/activites.css');

/* Utils */
@import url('images.css');

/* Responsive */
@import url('responsive/tablet.css');
@import url('responsive/mobile.css');
