/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
}

.footer-content {
    display: flex;
}

.footer-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-section h3 {
    font-size: 18px;
}

.footer-section li {
    font-size: 16px;
}

.footer-section a:hover {
    text-decoration: underline;
}
