/****** Header ***********/
.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.logo {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.logo img {
    height: 19px;
    width: auto;
}

.nav {
    display: flex;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-top: 3px solid transparent;
    transition: all 0.2s ease;
}

.nav-link:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}
