/****** Activites ***********/
.activites {
    padding: 30px 0 50px;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards a {
    flex: 1;
}

.activity-card {
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background: white;
}

.activity-card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.activity-card h3 {
    padding: 20px;
    font-size: 16px;
}
