/****** Cards Common ***********/
.section-title {
    font-size: 22px;
    margin-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0 0 8px 0;
}

.card-subtitle {
    font-size: 14px;
    margin: 0 0 8px 0;
}

.euro {
    font-weight: 700;
}

.card-rating i {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color) !important;
}

/****** Hebergements And Populaires Container ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 30px 0;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}
