/****** Search Section ***********/
.search-section {
    padding: 30px 0;
}

.search-section h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

.search-section > p {
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    max-width: 420px;
    margin-bottom: 30px;
}

.search-bar .search-icon {
    background-color: var(--main-bg-color);
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}

.search-bar .search-icon i {
    color: black;
}

.search-bar input {
    flex: 1;
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.search-bar input::placeholder {
    color: black;
}

.search-btn {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.search-icon-mobile {
    display: none;
}

/****** Filters ***********/
.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

.filters-label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
}

.filters-buttons {
    display: flex;
}

.filter-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    background: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-right: 10px;
    margin-left: 10px;
}

.filter-btn:hover {
    background-color: var(--filter-bg-color);
}

.filter-btn i {
    color: var(--main-color);
}

/****** Info ***********/
.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-icon i {
    font-size: 10px;
    color: var(--main-color);
}

.info p {
    font-size: 16px;
}
